body {
  font-family: 'Roboto', sans-serif !important;
}

.App {
  width: 800px;
  margin: 50px auto;
  border: 2px grey solid;
}

canvas {
  image-rendering: pixelated;
  object-fit: contain;
  background-color: gainsboro;
}

iframe {
  pointer-events: none;
}

.header-block {
  padding: 20px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.colors-list {
  line-height: 0;
  font-size: 0;
  position: relative;
}
.colors-list > div {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin: 0 5px 5px 0;
  position: relative;
  border: 1px grey solid;
}
.canvas-block {
  height: 500px;
  border-top: 2px red solid;
  overflow: hidden;
}

.canvas-block canvas {
  cursor: crosshair;
}

.user-list > div {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.user-list .user-avatar {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin-right: 10px;
  background-size: cover;
  border-radius: 6px;
  border: 1px #808080 solid;
}
.user-list i {
  display: block;
  color: grey;
  font-size: 13px;
  font-style: normal;
  line-height: 1;
}

.user-list {
  width: 200px;
  height: 230px;
  overflow: hidden;
  overflow-y: scroll;
}

.header-block label {
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #000;
  font-weight: 700;
  margin: 10px 0;
  display: block;
}
.user-nickname {
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.layout {
  height: 100vh;
  display: flex;
}

.sidebar-left {
  background: #1e1e1e;
  height: 100%;
  width: 300px;
  padding: 40px 80px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background: #eeecec;
  width: 100%;
  margin-left: -70px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  padding: 45px 50px 30px 70px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  margin-top: -80px;
  height: 100%;
}

.logo {
  background: #5943bc;
  width: 80px;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  svg {
    font-size: 40px;
    color: #eeecec;
  }
}

.menu-item {
  color: #fff;
  font-size: 40px;
  padding: 20px;
  margin: 10px 0;
}

.menu-item.exit {
  position: absolute;
  bottom: 10px;
}

.title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 20px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer {
  text-align: right;
  width: 100%;
  bottom: 10px;
  color: #000;
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
}

.content {
  height: calc(100vh - 210px);
  border: 1px #cecece88 solid;
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px;
  font-size: 18px;
  font-weight: 300;
}
